:root {
    --color-one: #030826;
    --color-two: #060E40;
    --color-three: #0A7AA6;
    --color-four: #55B3D9;
    --color-five: #f0e4d5;
}

.container{
    width: 100%;
    height: 80%;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: var(--color-two);
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
}

header, p{
    font-size: 25px;
    margin: auto;
}


.iconSideBar{
    height: 25px;
    position: absolute;
    left: 2%;
    transition: .5s;
    color: white;
}

.iconSideBar:hover{
    cursor: pointer;
}

@keyframes openSideBar{
    from{

        width: 0%;
    }
    to{
        width: 20%;
    }
}

@keyframes closeSideBar{
    from{

        width: 20%;
    }
    to{
        width: 0%;
    }
}

.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: var(--color-one); 
    padding-top: 10px; 
    transition: transform 0.3s ease; 
    z-index: 5;
    animation: openSideBar .5s ease;
    white-space: nowrap;
}

.topSideBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-five);
    height: 5%;
    width: 100%;
}

.iconCloseSideBar{
    position: absolute;
    right: 10px;
    height: 7%;
    width: 7%;
}

.iconCloseSideBar:hover{
    cursor: pointer;
}

.topSideBar, p{
    text-transform: uppercase;
    letter-spacing: .1em;
    overflow: hidden;
    text-overflow: ellipsis; /* Shows '...' when text overflows */
    white-space: nowrap;
}

.contentLinksSideBar{
    margin-top: 10%;
    width: 100%;
}

.contentLinksSideBar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contentLinksSideBar ul a{
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

.contentLinksSideBar ul a li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 3rem;
    margin-bottom: 10%;
    list-style: none;
    border-radius: .5rem;
    text-align: center;
    color: var(--color-five);
    border: solid 1px var(--color-five);
    transition: .4s;
}

.contentLinksSideBar ul li:hover{
    background-color: var(--color-five);
    color: var(--color-two);
    border: none;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: var(--color-two);
    color: white;
}