header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    top: 0;
    width: 100%;
    height: 10%;
    background-color: var(--color-two);
    color: var(--color-five);
    text-transform: uppercase;
    letter-spacing: .1em;
}

header, p{
    font-size: 25px;
    /* margin: auto; */
}

.iconName{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.linkProfileStyle{
    width: 20%;
    height: 70%;
    margin-right: 15px;
    text-decoration: none;
}

.infoProfile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: .5em;
    border-radius: .2em;
    border: solid 1px var(--color-five); 
    transition: .2s;
}

.infoProfile:hover{
    border: none;
    background-color:#ffffff20;
    cursor: pointer; 
}

.infoProfile p{
    margin: auto;
    font-size: 1rem;
    text-transform: capitalize;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-five);
}

.infoProfile .iconProfile{
    color: var(--color-five);
    width: 20%;
}


.iconSideBar{
    height: 25px;
    color: var(--color-five);
}

.iconSideBar:hover{
    cursor: pointer;
}

@keyframes openSideBar{
    from{

        width: 0%;
    }
    to{
        width: 30%;
    }
}

@keyframes closeSideBar{
    from{

        width: 30%;
    }
    to{
        width: 0%;
    }
}

.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    background-color: var(--color-one); 
    padding-top: 10px; 
    transition: transform 0.3s ease; 
    z-index: 5;
    white-space: nowrap;
    /* animation: openSideBar .3s ease-out; */
}

.contentLinksSideBar{
    width: 100%;
}

.contentLinksSideBar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contentLinksSideBar ul a{
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

.contentLinksSideBar ul a li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 3rem;
    margin-bottom: 10%;
    list-style: none;
    border-radius: .5rem;
    text-align: center;
    color: var(--color-five);
    border: solid 1px var(--color-five);
    transition: .4s;
}

.contentLinksSideBar ul li:hover{
    background-color: #ffffff50;
    border: none;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.titleContents{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 1%;
    color: var(--color-two);
}

.contentPage{
    width: 100%;
    height: 100%;
    padding: 1em;
}