@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-one: #030826;
  --color-two: #060E40;
  --color-three: #0A7AA6;
  --color-four: #55B3D9;
  --color-five: #f0e4d5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: var(--color-five);
}

.content{
  height: 100%;
}